/**index.wxss**/
.banner{
  width: 100%;
  .swiper{
    height: 540rpx;
  }
}
.avatar{
  margin: 20rpx 0;
  width: 200rpx;
  height: 200rpx;
  border: solid 2rpx #e1e1e1;
  border-radius: 50%;
  overflow: hidden;
}
.btn-wrapper{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
.desc{
  padding: 40rpx;
  font-size: 36rpx;
  line-height: 46rpx;
}